.current {
  display: flex;
  flex-direction: column;
  span{margin-left: 10px}
  .time {color: #EF503E}
  .city {font-weight: bold; font-size: 28px}
  .temp {
    font-size: 35px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .cloud{font-weight: bold}
  .humdew {
    border-left: 1px solid #C9B4AE;
    margin-top: 5px;
    .humanity, .dewpoint, span{margin-left: 20px;}
  }
}
ul {
  padding:0;
  li{
    list-style: none;
    margin-top: 10px;
    img{
      margin-left: 30px;
    }
    span{
      margin-left: 30px;
    }
  }
}
